#menu-textfx{
  list-style-image:url('icon16.png');
}
#tbb-textfx-sidebar{
  list-style-image:url('icon24.png');
}
toolbar[iconsize="small"] #tbb-textfx-sidebar{
  list-style-image:url('icon16.png');
}